* {
  margin: 0;
  padding: 0;
}
body {
  background: black;
  color: white;
  font-family: 'ZCOOL XiaoWei', serif;
  font-size: 24px;
  transition: 2s ease-in;

}
@media (max-width : 300px) {
  body {
    width: 300px;
  }
}
.page-1 {
  display: grid;
  grid-template-columns: 0.2fr 1fr 0.2fr;
  grid-template-rows: 50px 700px;
  grid-template-areas:
  "cv cv cv"
  "anim1 name anim2"
  ". job-title .";
  justify-items: center;
  align-items: center;
  background: black;
  color: white;
}
.cv {
  grid-area: cv;
  padding: 10px;
  font-size: 11px;
  letter-spacing: 10px;
  border-bottom: 1px solid white;
  border-top: 1px solid white;
  white-space: nowrap;
}
.anim1 {
  grid-area: anim1;
  position: relative;
}
.anim1 i {
  color: white;
  font-size: 100px;
  text-align: center;
  animation: anim-1 5s infinite;
}
.anim2 {
  grid-area: anim2;
  position: relative;
}
.anim2 i {
  color: white;
  font-size: 100px;
  text-align: center;
  animation: anim-1 5s infinite;
}

.name {
  grid-area: name;
  font-size: 3rem;
  letter-spacing: 10px;
  white-space: nowrap;
}
.job-title {
  grid-area: job-title;
  font-size: 1rem;
  text-align: center;
  word-spacing: 60px;
}
h3 {
  text-align: center;
  line-height: : 2rem;
  letter-spacing: 1rem;
}
h3 p {
  letter-spacing: 0.5rem;
  font-size: 0.7rem;
}
/* KEYFRAME FOR COVER PAGE CIRCLES ROTATING */
@keyframes anim-1 {
  0% {
    transform: rotate(0deg);
  }
  50% {
    color: red;

  }
  100% {
    transform: rotate(360deg);
  }
}
/* Stars */
.a {
  position: absolute;
  left: 10%;
  animation: an1 10s forwards infinite;
}
.b {
  position: absolute;
  left: 7%;
  top: 10%;
  animation: an1 8s forwards infinite;
}
.c {
  position: absolute;
  left: 15%;
  top: 7%;
  animation: an1 14s forwards infinite;
}
.d {
  position: absolute;
  left: 20%;
  animation: an1 6s forwards infinite;

}
.e {
  position: absolute;
  left: 25%;
  top: 7%;
  animation: an1 9s forwards infinite;
}
.f {
  position: absolute;
  left: 30%;
  top: 4%;
  animation: an1 10s forwards infinite;
}
.g {
  position: absolute;
  left: 35%;
  top: 10%;
  animation: an1 13s forwards infinite;
}
.h {
  position: absolute;
  left: 40%;
  top: 12%;
  animation: an1 7s forwards infinite;
}
.i {
  position: absolute;
  left: 45%;
  top: 9%;
  animation: an1 11s forwards infinite;
}
.j {
  position: absolute;
  left: 50%;
  top: 12%;
  animation: an1 5s forwards infinite;
}
.k {
  position: absolute;
  left: 55%;
  top: 9%;
  animation: an1 10s forwards infinite;
}
.l {
  position: absolute;
  left: 60%;
  top: 12%;
  animation: an1 13s forwards infinite;
}
.m {
  position: absolute;
  left: 65%;
  top: 9%;
  animation: an1 8s forwards infinite;
}
.n {
  position: absolute;
  left: 70%;
  top: 7%;
  animation: an1 12s forwards infinite;
}
.o {
  position: absolute;
  left: 75%;
  animation: an1 15s forwards infinite;
}
.p {
  position: absolute;
  left: 80%
  top: 7%;
  animation: an1 5s forwards infinite;
}
.q {
  position: absolute;
  left: 85%;
  top: 9%;
  animation: an1 9s forwards infinite;
}
.r {
  position: absolute;
  left: 90%;
  animation: an1 10s forwards infinite;

}
@keyframes an1 {
  0% {
    opacity: 0.1;

  }
  50% {
    opacity: 1;
    color: red;
  }
  100% {
    transform: translateY(500px);
    opacity: 0;
  }
}


/* COVER PAGE */
.heading {
  text-align: center;
  border-top: 1px double black;
  margin: 20px;
}
/* PROFILE */
.profile {

  display: grid;
  grid-template-columns: 0.5fr 0.5fr;
  grid-template-rows: 500px;
  grid-template-areas:
  "image personal";
  margin-top: 40px;
  padding: 60px;
  /* box-shadow: 0 0 13px rgba(238,221,130, 1); */
  /* border: 5px solid black; */
  background: #F8F9F1;
  justify-items: center;
  align-items: center;
  color: black;
}
.image {
  grid-area: image;
  padding: 0px;
  margin-left: 40px;
  margin-right: 40px;

}
.image img {

  border-radius: 50%;
  border: 2px solid black;
}
.personal {
  grid-area: personal;
  padding: 25px;

}


@keyframes leaf-anim {
  0% {
    opacity: 0;
    color: white;

    font-size: 11px;
  }
  25% {
    color: #ffae42;
  }
  50% {
    color: black;
    opacity: 1;
  }
  75% {
    color: yellow;
    font-size: 11px;
  }

  100% {
    transform: translateY(1100px);
    color: orange;
    opacity: 0;

  }
}

/* PROFILE */

/* PROJECTS */
.projects {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 400px 400px;
  grid-template-areas:
  "first-proj"
  "second-proj";
  color: black;
  margin: 100px;
  padding: 30px;
  background: white;
  box-shadow: 0 0 20px rgba(238,221,130, 1)

}
.first-proj {
  grid-area: first-proj;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 350px;
  grid-template-areas:
  "first-statement first-image";
  justify-items: center;
  align-items: center;

}
.first-statement {
  grid-area: first-statement;
  padding: 20px;
}
.first-image {
  grid-area: first-image;
  padding: 20px;
  border: 2px black solid;
  background: black;

}
.second-proj {
  grid-area: second-proj;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 350px;
  grid-template-areas:
  "second-image second-statement";
  justify-items: center;
  align-items: center;
}
.second-statement {
  grid-area: second-statement;
  padding: 20px;
}
.second-image {
  grid-area: second-image;
  padding: 20px;
  border: 2px black solid;
  background: black;
}

.me {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 460px 300px;
  grid-template-areas:
  "offer"
  "passions";
  justify-items: center;
  align-items: center;
  text-align: center;
  background: white;
  color: black;
  padding: 0px 100px 0px 100px;
  animation: color-change 6s  forwards;

}
.offer {
  grid-area: offer;
}
.offer ul {
  list-style: none;
}
.passions {
  grid-area: passions;
}
@keyframes color-change {
  0% {
    background: black;
    color: white;
  }
  100% {
    background: white;
    color: black;
  }

}







/* KEYFRAME FOR COVER PAGE CIRCLES ROTATING */
@keyframes anim-1 {
  0% {
    transform: rotate(0deg);
  }
  50% {
    color: red;

  }
  100% {
    transform: rotate(360deg);
  }
}

    /* Media Queries for Top section */
@media(max-width: 985px ) {
  .page-1 {

  }
  .anim1 {
    transform: translate(370px, 200px);
    transition: 2s ease;

  }
  .anim2 {
    transform: translate(-358px, -200px);
    transition: 2s ease;
  }
  .name {
    font-size: 2rem;
    white-space: nowrap;
  }

}

@media (max-width: 875px) {
  .anim1 {
    transform: translate(0px, 0px);
  }
  .anim2 {
    transform: translate(0px, 0px);
  }
  .page-1 {
    display: grid;
    grid-template-columns: 0.2fr 1fr 0.2fr;
    grid-template-rows: 50px 500px;
    grid-template-areas:
    "cv cv cv"
    "anim1 name anim2";
    justify-items: center;
    align-items: center;
    background: black;
    color: white;
  }
}
@media (max-width: 750px) {
  .name {
    font-size: 1.5rem;
    white-space: nowrap;
    letter-spacing: 2px;
  }
  .anim1 {

  }
  .anim1 i {
    font-size: 3.5rem;
  }
  .anim2 {

  }
  .anim2 i {
    font-size: 3.5rem;
  }

}

        /* Media Queries for Top section */
        /* MEDIA QUERIES FOR PROFILE */
@media (max-width: 850px) {
  .profile {

    grid-template-columns: 1fr;
    grid-template-rows: 300px 300px;
    grid-template-areas:
    "image"
    "personal";
    font-size: 1.3rem;
    justify-items: center;
    text-align: center;
    margin-left: 0px;
    margin-right: 0px;

  }
  .image {
    margin-bottom: 20px;
  }
  .image img {
    height: 200px;
    width: 200px;
  }
}

/* 465 */
@media (max-width: 465px) {
  .profile {
    width: 100%;
    padding: 100px;
  }

}
@media (max-width: 342px) {
  .profile {
    width: 340px;
  }
}

/* MEDIA QUERIES FOR PROJECT SECTION */
@media (max-width: 800px) {
  .projects {

    margin-right: 0px;
    margin-left: 0px;
    grid-template-rows: 700px 800px;
    grid-template-columns: 1fr;
    justify-items :center;
    align-items: center;
    text-align: center;
  }
  .first-proj {
    grid-template-columns: 1fr;
    grid-template-areas:
    "first-statement"
    "first-image";


  }
  .second-proj {
    grid-template-columns: 1fr;
    grid-template-areas:
    "second-statement"
    "second-image";
    justify-items :center;
    align-items: center;
    text-align: center;
  }
}
@media (max-width: 464px) {
  .projects {
    width: 600px;
  }
  .me {
    width: 380px;
  }
}
@media (max-width: 400px) {
  .projects {
    width: 580px;
  }
  .me {
    width: 350px;
  }

}
@media (max-width: 382px) {
  .projects {
    width: 550px;
  }
}
@media (max-width: 350px) {
  .projects {
    width: 520px;
  }
}
